*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    font-family: Noto Sans;
    font-style: black;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


#buttons{
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    bottom: 100px;
    width: 100%;
    justify-content: space-around;
}